@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body {
    font-family: 'Inconsolata', monospace;
    background-color: #ffffff;
    color: #242424;
    margin: 0;
}

#main {
    margin-left: 3rem;
    padding: 1rem;
}