.sidenav {
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.sidenav_active:before {
    content: ''; 
    display: block;
    background-color: #f1f1f1;;
    position: absolute;
    top:0;
    left: 0;
    width: 3px;
    height: 100%;
  }

.sidenav ul {
    list-style: none;
    padding: 0;
}

.sidenav a {
    position: relative;
    padding: 0.5em;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav a:hover {
    color: #f1f1f1;
}
  